
<div class="container py-3 px-4">
    <div class="row p-3" id="headline">
        <div class="col-auto"><h2>Alvaro Tapia</h2></div>
        <div class="col d-flex justify-content-end">
            <h6 class="m-3"><a class="links" href="https://github.com/AlvaroTapiaCC" target="_blank" rel="noopener noreferrer">GITHUB</a></h6></div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6 p-3">
            <p>My name is Alvaro, i am an engineering student at Universidad de los Andes, i am currently in my 8th semester of computer science, which i began in 2022.</p>
            <p>Outside of my studies, some of my personal interests include sports, music and watching tv shows. I have been playing basketball since i was in middle school, and music has always been a big part of my life. I enjoy both listening to it and playing instuments, mainly guitar and drums. As for TV shows, some of my favourites are Dexter and the anime Hunter x Hunter.</p>
            <p>As a fun fact, here is a page i have been using a lot and has really helped me on my personal life, i will let you check it out on your own so you can enjoy discovering it as much as i did :)</p>
            <a class="links" href="https://www.youtube.com/watch?v=xvFZjo5PgG0" target="_blank" rel="noopener noreferrer">Link</a>
        </div>
        <div class="col-12 col-lg-6 p-3">
            <img src="campus.webp" alt="picture" class="img-fluid rounded">
        </div>
    </div>

    <div class="row">
        <div class="col p-3"><h4>Some of my skills:</h4></div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6 table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Skill</th>
                        <th class="text-center">Level</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Python</td>
                        <td>Medium</td>
                    </tr>
                    <tr>
                        <td>JavaScript</td>
                        <td>Basic</td>
                    </tr>
                    <tr>
                        <td>HTML/CSS</td>
                        <td>Medium</td>
                    </tr>
                    <tr>
                        <td>Git</td>
                        <td>Medium</td>
                    </tr>
                    <tr>
                        <td>Excel</td>
                        <td>Basic</td>
                    </tr>
                    <tr>
                        <td>SQL</td>
                        <td>Medium</td>
                    </tr>
                    <tr>
                        <td>Ruby</td>
                        <td>None</td>
                    </tr>
                    <tr>
                        <td>English</td>
                        <td>Advanced</td>
                    </tr>
                    <tr>
                        <td>Spanish</td>
                        <td>Native</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="my-4">
        <h5>The following section is an interactive button, type something to change what it says below</h5>
        <input type="text" id="userInput" class="form-control mb-2" placeholder="Type something...">
        <button class="btn btn-primary" id="updateButton">Update Section</button>
    </div>

    <div class="mt-3" id="dynamicSection">
        This text will change when you press the button.
    </div>

</div>
