
<div class="container py-3 px-4">
    <div class="row p-3" id="headline">
        <div class="col-auto font-baloo"><h2>Alvaro Tapia</h2></div>
        <div class="col d-flex justify-content-end">
            <h6 class="m-3 font-baloo"><a class="text-decoration-none" style="color: #2E4E3D;" href="https://github.com/AlvaroTapiaCC" target="_blank" rel="noopener noreferrer">GITHUB</a></h6></div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6 p-3">
            <p class="fs-5" style="font-family: 'Poppins', serif; text-align: justify;">My name is Alvaro, i am an engineering student at Universidad de los Andes, i am currently in my 8th semester of computer science, which i began in 2022.</p>
            <p class="fs-5" style="font-family: 'Poppins', serif; text-align: justify;">Outside of my studies, some of my personal interests include sports, music and watching tv shows. I have been playing basketball since i was in middle school, and music has always been a big part of my life. I enjoy both listening to it and playing instuments, mainly guitar and drums. As for TV shows, some of my favourites are Dexter and the anime Hunter x Hunter.</p>
            <p class="fs-5" style="font-family: 'Poppins', serif; text-align: justify;">As a fun fact, here is a page i have been using a lot and has really helped me on my personal life, i will let you check it out on your own so you can enjoy discovering it as much as i did :)</p>
            <a class="text-decoration-none" style="color: #2E4E3D;" href="https://www.youtube.com/watch?v=xvFZjo5PgG0" target="_blank" rel="noopener noreferrer">Link</a>
        </div>
        <div class="col-12 col-lg-6 p-3">
            <%= image_tag "campus.webp", alt: "picture", class: "img-fluid rounded" %>
        </div>
    </div>

    <div class="row">
        <div class="col p-3"><h4 class="font-baloo">Some of my skills:</h4></div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6 table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center" style="background-color: #2E4E3D; color: ivory; font-family: 'Baloo 2', serif;">Skill</th>
                        <th class="text-center" style="background-color: #2E4E3D; color: ivory; font-family: 'Baloo 2', serif;">Level</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="background-color: #C2DCC2; font-family: 'Poppins', serif;">Python</td>
                        <td style="background-color: #C2DCC2; font-family: 'Poppins', serif;">Medium</td>
                    </tr>
                    <tr>
                        <td style="background-color: #C2DCC2; font-family: 'Poppins', serif;">JavaScript</td>
                        <td style="background-color: #C2DCC2; font-family: 'Poppins', serif;">Basic</td>
                    </tr>
                    <tr>
                        <td style="background-color: #C2DCC2; font-family: 'Poppins', serif;">HTML/CSS</td>
                        <td style="background-color: #C2DCC2; font-family: 'Poppins', serif;">Medium</td>
                    </tr>
                    <tr>
                        <td style="background-color: #C2DCC2; font-family: 'Poppins', serif;">Git</td>
                        <td style="background-color: #C2DCC2; font-family: 'Poppins', serif;">Medium</td>
                    </tr>
                    <tr>
                        <td style="background-color: #C2DCC2; font-family: 'Poppins', serif;">Excel</td>
                        <td style="background-color: #C2DCC2; font-family: 'Poppins', serif;">Basic</td>
                    </tr>
                    <tr>
                        <td style="background-color: #C2DCC2; font-family: 'Poppins', serif;">SQL</td>
                        <td style="background-color: #C2DCC2; font-family: 'Poppins', serif;">Medium</td>
                    </tr>
                    <tr>
                        <td style="background-color: #C2DCC2; font-family: 'Poppins', serif;">Ruby</td>
                        <td style="background-color: #C2DCC2; font-family: 'Poppins', serif;">None</td>
                    </tr>
                    <tr>
                        <td style="background-color: #C2DCC2; font-family: 'Poppins', serif;">English</td>
                        <td style="background-color: #C2DCC2; font-family: 'Poppins', serif;">Advanced</td>
                    </tr>
                    <tr>
                        <td style="background-color: #C2DCC2; font-family: 'Poppins', serif;">Spanish</td>
                        <td style="background-color: #C2DCC2; font-family: 'Poppins', serif;">Native</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="my-4">
        <h5 class="font-baloo">The following section is an interactive button, type something to change what it says below</h5>
        <input type="text" id="userInput" class="form-control mb-2" style="font-family: 'Poppins', serif;" placeholder="Type something...">
        <button class="btn btn-primary" style="background-color: #2E4E3D; border-color: #2E4E3D; font-family: 'Poppins', serif;" id="updateButton">Update Section</button>
    </div>

    <div class="text-justify fs-5 mt-3" id="dynamicSection" style="font-family: 'Poppins', serif;">
        This text will change when you press the button.
    </div>

</div>